/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    color: #777;
}

.a, a:hover, a:active, a:focus {
    outline: 0;
}

.bgimg-1 {
    background-image: url("../img/OtilBannerNoText.png");
    height: 600px;
}

.bgimg-2 {
    background-image: url("../img/OtilBannerNoText.png");
    height: 30px;
}

.bgimg-1, .bgimg-2 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Top-down stying */

/* Banner */

.caption {
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    text-align: center;
    color: #000;
    margin-top: 50px;
}

.caption span {
    display: block;
    margin-bottom: 15px;
}

.century {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.heading {
    font-size: 200px;
}

.subHeading {
    font-size: 70px;
    padding: 0 10px;
}

.download-btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border: 2px solid rgb(245, 245, 245);
    background-color: rgba(245, 245, 245, 0.4);
    /* Transitions for hover smoothly */
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

.download-btn:hover {
    background-color: rgba(245, 245, 245, 0.9);
    text-decoration: none;
}

/* Navigation */

.navbar {
    background-color: #eee;
    padding: 0;
    border-radius: 0px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
}

#fix-navbar {
    padding: 0px;
    height: 20px;
    width: 100%;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 100;
}

.affix-top {
    width: 100%;
}

.affix + .content-box {
    margin-top: 72px;
}

.go-to-top {
    /* Bootstrap resource loading is broken :'( */
    position: absolute !important;
    right: 10px;
    top: 0px;
}

/* Content */

.content-box>div>h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 22px "Lato", sans-serif;
    color: #111;
    text-align: center;
    margin-bottom: 20px;
}

.content-box {
    color: #777;
    background-color: white;
    text-align: justify;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Carousel */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-height: 500px;
    height: auto;
    margin: auto;
}

.carousel-captionbox {
    width: 100%;
    height: 150px;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to top,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    position: absolute;
    bottom: 0px;
}

/* Footer */

.social-btn {
    text-align: right;
}

.fb-share-button {
    margin-right: 5px;
    float: left;
}

.licensing {
    text-align: right;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.media-btn {
    float: left;
    margin-right: 5px;
}

.footer {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify;
}

@media screen and (max-width: 1366px) {
    .caption {
        margin-top: 30px;
    }

    .heading {
        font-size: 180px;
    }

    .subHeading {
        font-size: 60px;
    }

    .download-btn {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 25px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .download-btn {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        margin-top: 40px;
    }

    .heading {
        font-size: 160px;
    }

    .subHeading {
        font-size: 50px;
    }
}
/*

@media screen and (max-width: 980px) {
    .bgimg-1 {
        height: 550px;
    }

    .heading {
        font-size: 150px;
    }

    .subHeading {
        font-size: 50px;
    }

    .download-btn {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }

    .social-btn {
        font-size: 15px;
    }

    .licensing {
        font-size: 12px;
    }

    .content {
        font-size: 15px;
    }

    .content-box {
        font-size: 15px;
    }

    .align-left {
        margin-left: 320px;
    }

    .nav {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .bgimg-1 {
        height: 550px;
    }

    .caption {
        margin-top: 90px;
    }

    .heading {
        font-size: 120px;
    }

    .subHeading {
        font-size: 40px;
    }

    .download-btn {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 18px;
        margin-top: 30px;
    }

    .social-btn {
        font-size: 12px;
    }

    .licensing {
        font-size: 10px;
    }

    .content {
        font-size: 15px;
    }

    .content-box {
        font-size: 15px;
    }

    .align-left {
        margin-left: 220px;
    }

    .nav {
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    .bgimg-1 {
        height: 350px;
    }

    .heading {
        font-size: 70px;
    }

    .subHeading {
        font-size: 15px;
    }

    .download-btn {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        margin-top: 20px;
    }

    .phone-nav {
        width: 100%;
    }

    .container-fluid {
        margin-bottom: 20px;
    }

    .social-btn {
        font-size: 12px;
    }

    .licensing {
        font-size: 10px;
    }

    .content {
        font-size: 12px;
    }

    .content-box {
        font-size: 12px;
    }

    .align-left {
        margin-left: 0px;
    }

    .go-to-top {
        display: none;
    }

    .hide {
        display: none;
    }

    .glyphicon {
        display: none;
    }

    .glyphicon-arrow-up {
        display: none;
    }

    .nav {
        font-size: 11px;
    }

    .navbar-nav {
        margin-left: 0px;
    }

    #functionality {
        padding-left: 50px;
    }
} */
